*{
    margin: 0;
    padding: 0;
    font-family: san-serif;
}
.bar{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
}

nav{
    display: flex;
    width: 84%;
    margin-left: 1300px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: cursive;
    font-size: 20px;
}
nav ul li a:hover{
    color: blue  ;
} 
.info{
    margin-left: 6%;
    margin-top: 16%;
}
.info h1{
   font-size: 50px;
   margin-bottom: 20px; 
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: red;
}
.info h2{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url('..//bg.png');
    height: 100vh;
    background-size: cover;
}